@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
body{
    font-family: 'Manrope', sans-serif;
    background-color: rgb(234, 2, 255);
}
ul{
    display: flex;
    list-style: none;
    /* background-color: pink; */
    padding: 1em;
    box-shadow: 2px 4px 25px rgb(255, 255, 255);
    border-radius: 25px;
}
 
ul li{
        margin: 0 1em;
        font-size: 0.99rem;        
        color: rgb(0, 0, 0);
        text-decoration: none; 
        font-weight: 700;
}
a{
    text-decoration: none;    
}
.active{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin: 0 1em;
    
}
h1{
    text-align: center;
}